<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>40febaf4c7f14979ca5ecbec6a17cd1a</string>
	<key>googlePlacesApiKey</key>
	<string>AIzaSyDLWDaVsQhRDZX3wL8OdH4tP5jQ49mEy0I</string>
</dict>
</plist>
